
.classpath
.factorypath
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/m2e-wtp/web-resources/META-INF/maven/com.poly/DAT-CHAN_BookStore_Java6_SD17305/pom.properties
