<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý sách</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap4-2/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="style/css/fontawesome.css">
    <link rel="stylesheet" href="style/css/templatemo-style.css">
    <link rel="stylesheet" href="style/css/owl.css">
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="index.html" class="text-danger">Logo</a>
                    </div>
                </header>

                <!-- content -->

                <section>
                   
                </section>

                <!-- content -->

            </div>
        </div>



        <!-- menu -->
        <div id="sidebar">
            <div class="inner">

                <!--Logo (Xóa cũng dc)-->
                <section class="alt py-3">
                    <h1 class="text-danger my-4">logo</h1>
                </section>

                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li><a href="./index.html">Trang chủ</a></li>
                        <li><a href="./QuanLyNguoiDung.html">Quản lý người dùng</a></li>
                        <li><a href="./QuanLySanPham.html">Quản lý sản phẩm</a></li>
                        <li><a href="/QuanLyHoaDon.html">Quản lý Hóa đơn</a></li>
                        <li>
                            <span class="opener">Tổng hợp-Thống kê</span>
                            <ul>
                                <li><a href="./ThongKeSanPham.html">Thống kê sản phẩm</a></li>
                                <li><a href="./ThongKeDoanhThu.html">Thống kê doanh thu</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Tài khoản</span>
                            <ul>
                                <li><a href="./ThongTinTaiKhoan.html">Thông tin tài khoản</a></li>
                                <li><a href="#">Thoát khỏi trang quản trị</a></li>
                                <li><a href="#">Đăng xuất</a></li>
                            </ul>
                        </li>
                        <br><br><br>
                    </ul>
                </nav>



                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">Copyright &copy; 2019 Company Name
                        <br>Designed by <a href="#">BookStore</a>
                    </p>
                </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="bootstrap4-2/jquery/jquery.min.js"></script>
    <script src="bootstrap4-2/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="style/js/browser.min.js"></script>
    <script src="style/js/breakpoints.min.js"></script>
    <script src="style/js/transition.js"></script>
    <script src="style/js/owl-carousel.js"></script>
    <script src="style/js/custom.js"></script>
</body>

</html>