<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::main})}">

                <!-- content   -->

                <main class="services">
                    <h1 class="text-center mb-5">Quản lý hóa đơn</h1>
                    <form action="" class="row">
                        <div class="form-group row col-md-12 justify-content-center">
                            <label class="col-form-label"><strong>Tìm kiếm hóa đơn:</strong></label>
                            <div class="col-md-4">
                                <input type="search" class="form-control" placeholder="Nhập tên khách hàng">
                            </div>
                            <button type="submit" class="btn btn-success">Tìm kiếm</button>
                        </div>
                    </form>
                    <div class="container-fluid my-5">
                        <table class="table table-hover">
                            <thead class="table-info">
                              <tr>
                                <th>Mã hóa đơn</th>
                                <th>Người dùng</th>
                                <th>Tổng tiền</th>
                                <th>Ngày lập</th>
                                <th>Trạng thái</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="" class="btn btn-info">Chi
                                    tiet</a></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row col-md-12 justify-content-center mt-4">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link"
                                    href="?p=${pages.number-1}">&lt;&lt;</a></li>
                                <c:forEach var="i" begin="1" end="${pages.totalPages}">
                                    <li class='page-item ${pages.number == i-1 ? "active":""}'><a
                                        class="page-link" href="?p=${i-1}">${i}</a></li>
                                </c:forEach>
                
                                <li class="page-item"><a class="page-link"
                                    href="?p=${pages.number+1}">&gt;&gt;</a></li>
                            </ul>
                        </nav>
                    </div>
                </main>

                <!-- content -->

       
</html>